asgiref==3.9.1
attrs==25.3.0
black==25.1.0
click==8.2.1
Django==5.2.4
djangorestframework==3.16.0
flake8==7.3.0
flake8-bugbear==24.12.12
flake8-builtins==2.5.0
flake8-comprehensions==3.16.0
flake8-print==5.0.0
flake8-use-fstring==1.4
flake8_import_order==0.19.2
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
setuptools==80.9.0
snowballstemmer==3.0.1
sqlparse==0.5.3
